@import "tailwindcss";
.box-shadow{
  box-shadow: 2px 2px 2px grey;
}
.bg-mesh {
  background: radial-gradient(circle at 20% 20%, #fceabb, transparent 40%),
    radial-gradient(circle at 80% 30%, #f8b500, transparent 40%),
    radial-gradient(circle at 50% 80%, #ff6f61, transparent 40%);
}

